<a href="https://colab.research.google.com/github/Pugianf/ANTAQ/blob/main/ANTAQ_An%C3%A1lise_IDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# installing librarys

!pip install tabula-py
clear_output()

In [8]:
# importing

import numpy as np
import pandas as pd
import tabula
from IPython.display import clear_output

In [3]:
# connecting drive

from google.colab import drive
drive.mount('/content/drive')
clear_output()

Mounted at /content/drive

In [142]:
# creating an empty DataFrame

df = pd.DataFrame()

In [84]:
# list of IDA years

IDA_portos_years = [2015, 2016, 2017, 2018, 2019, 2020]

In [143]:
# looping the original data and concating to df

for count, value in enumerate(IDA_portos_years):
  file = f'/content/drive/MyDrive/IDP/Dataset/RelRankingIDA_{count}.pdf'
  table = tabula.read_pdf(file,pages='all')
  frames = [table[0], table[1]]
  final_table = pd.concat(frames)
  final_table['Ano'] = value
  final_table.drop(columns='Instalação', inplace=True)
  final_frame = [df, final_table]
  df = pd.concat(final_frame)

In [144]:
# setting 'Ano' as index

df.set_index('Ano', inplace=True)

In [145]:
# renaming colomns

df.rename(columns={'Unnamed: 0':'Porto'}, inplace=True)

In [146]:
# wrangling IDA colomn and casting to float

df['IDA'] = df['IDA'].apply(lambda x: x.replace(',','.'))

df['IDA'] = pd.to_numeric(df['IDA'])

In [147]:
# Data for Portos - IDA graphic

mean_IDA = pd.DataFrame(df.groupby('Ano')['IDA'].mean().round(2))

mean_IDA

        IDA
Ano
2015  60.20
2016  61.73
2017  63.82
2018  63.66
2019  68.82
2020  76.28