<a href="https://colab.research.google.com/github/Pugianf/ANTAQ/blob/main/An%C3%A1lise_IDA_Indicadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Data Analysis of IDA Indicators</h1>

### Settings

In [1]:
# importing libraries

import pandas as pd
import numpy as np

In [2]:
# connecting google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Importing CSV

In [22]:
# encoding latin1 needed for brazilian symbols 

df = pd.read_csv('/content/drive/MyDrive/ANTAQ/Datasets/IDA/database.csv', encoding='latin1', sep=';')

In [23]:
# describing DataFrame

df.describe()

       TipoAtributo  CategoriaQuestionario
count  53028.000000           53028.000000
mean       1.852380               1.724372
std        1.919969               1.013770
min        0.000000               1.000000
25%        0.000000               1.000000
50%        0.000000               1.000000
75%        4.000000               3.000000
max        4.000000               4.000000

In [24]:
# checking NaN values on DataFrame

df.isnull().values.any()

False

In [25]:
# showing df

df

        CD  TipoAtributo  ...             NOCategoria     Ano
0      249             0  ...  Econ√¥mico-Operacionais  2015.2
1      249             3  ...  Econ√¥mico-Operacionais  2015.2
2      249             2  ...  Econ√¥mico-Operacionais  2015.2
3      249             2  ...  Econ√¥mico-Operacionais  2015.2
4      249             0  ...  Econ√¥mico-Operacionais  2015.2
...    ...           ...  ...                     ...     ...
53023  242             0  ...  Econ√¥mico-Operacionais    2021
53024  242             0  ...    Biol√≥gico-Ecol√≥gicos    2021
53025  242             0  ...    Biol√≥gico-Ecol√≥gicos    2021
53026  242             0  ...    Biol√≥gico-Ecol√≥gicos    2021
53027  242             0  ...         F√≠sico-Qu√≠micos    2021

[53028 rows x 9 columns]

In [ ]:
# checking the years enrolled

years = sorted(list(set(df.Ano)))

years

In [28]:
# dropping the special year for Cabedelo

df = df[df.Ano != '2021 Cabedelo']

In [29]:
# checking the years enrolled after dropping

years = sorted(list(set(df.Ano)))

years

['2015.2', '2016.1', '2017', '2018', '2019', '2020', '2021']

In [ ]:
# checking installations

installations = sorted(list(set(df.nome)))

installations

['Aguiarn√≥polis',
 'Alto Alegre do Pindar√©',
 'Amarante',
 'Angra dos Reis \xa0',
 'Antonina',
 'Araguacema',
 'Araguaiana',
 'Arari',
 'Aratu \xa0',
 'Artemis',
 'Bel√©m \xa0',
 'Bequim√£o',
 'Cabedelo \xa0',
 'Campinho',
 'Cocalinho',
 'Curralinho',
 'Eclusa Tiet√™ Jusante',
 'Espadarte',
 'Forno\xa0',
 'Fortaleza \xa0',
 'Ilh√©us \xa0',
 'Imbituba \xa0',
 'Itagua√≠ (Sepetiba)\xa0',
 'Itaja√≠\xa0',
 'Itaqui',
 'Long√°',
 'Macap√°',
 'Macei√≥',
 'Mariante',
 'Miguel Alves',
 'Natal',
 'Niter√≥i \xa0',
 'Palmeir√¢ndia  (Coroat√°)',
 'Palmeir√¢ndia (S√£o Jos√© dos Leite)',
 'Paranagu√°',
 'Pelotas \xa0',
 'Penalva',
 'Porto Alegre \xa0',
 'Porto Barragem de Jupi√°',
 'Porto Mendes',
 'Porto Rico do Maranh√£o',
 'Porto Velho \xa0',
 'Quatipuru - Sede',
 'Recife \xa0',
 'Reg√™ncia',
 'Rio Grande \xa0',
 'Rio Pardo',
 'Rio de Janeiro\xa0',
 'Rodrigues Alves',
 'Rubin√©ia',
 'Salin√≥polis',
 'Salvador\xa0',
 'Santa Isabel do Rio Negro',
 'Santa Rosa do Purus',
 'Santana da Boa Vista',
 'Santar√©m (novo)',
 'Santar√©m \x96 Terminal de Cargas',
 'Santar√©m \xa0',
 'Santo Ant√¥nio das Lendas',
 'Santo Ant√¥nio do I√ß√°',
 'Santo Ant√¥nio do Tau√°',
 'Santos \xa0',
 'Serra do Navio',
 'Suape \xa0',
 'S√£o Bento',
 'S√£o Francisco do Sul \xa0',
 'S√£o Jos√© do Norte',
 'S√£o Miguel do Guam√°',
 'S√£o Raimundo',
 'S√£o Sebasti√£o da Boa Vista',
 'S√£o Sebasti√£o do Uatum√£',
 'S√£o Sebasti√£o\xa0',
 'Tapau√°',
 'Tapuruquara',
 'Tartarugalzinho',
 'Tef√©',
 'Terminal Fazenda S√£o Joaquim',
 'Terminal Pesqueiro',
 'Terminal da Condor',
 'Tonantins',
 'Turia√ßu',
 'Uarini',
 'Urucurituba',
 'Vila Bittencourt',
 'Vila Ipiranga',
 'Vila do Conde\xa0',
 'Viseu',
 'Vit√≥ria \xa0',
 'V√≠toria - √Åguas Profundas',
 'Xapuri',
 '√Ågua Doce do Maranh√£o']